# Archivos y carpetas de IntelliJ IDEA
.idea/
*.iml

# Archivos compilados de Java
*.class

# Carpeta target (Maven)
target/

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Configuración del sistema
.DS_Store
Thumbs.db

# Archivos de OneDrive
~$*
*.lnk

# Archivos de Maven Wrapper que no son necesarios en producción
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Archivos de build de Docker
*.pid
